.body{
    /*background-color: aqua;*/
    margin: 0;
    padding: 0;
}

.header{
    position:fixed;
    background-color:transparent;
    font-family: 'Mulish', sans-serif;
    font-weight: bold;
    font-size: 25px;
    line-height: 1.5em;
    z-index: 4;
    margin-top: 10%;
}

.name{
    background-color: transparent;
    text-decoration: none;
    color: white;
}

.name:hover{
    text-decoration: none;
    background-color: blueviolet;
    color: black;
    font-weight: 500;
}

.logo{
    text-decoration: #000;
    color: black;
    padding-left: 20px;

}

.navigation ul{
    background-color: transparent;
    list-style: none;
    font-weight: bold;
    width:150px ;
    padding-left: 20px;
    
}

/*.navigation ul li:hover{
    text-decoration: none;
    background-color: blueviolet;
    color: black;
    border: 2px solid white;
    border-radius: 10px;
}*/

@import "susy";
@import "compass/reset";

.stars, .twinkling, .clouds {
	position:absolute;
	display:block;
    margin-top: 0;
	top:0; bottom:0;
	left:0; right:0;
	width:100%; height:100%;
}

.stars {
	z-index: 0;
	background: #000 url('https://image.ibb.co/mjnygo/stars.png') repeat top center;
}
div .stars {
    z-index: 2;
	
}

.twinkling{
	z-index: 5;
	background:transparent url('https://image.ibb.co/ir1DE8/twinkling.png') repeat top center;
	animation: move-twink-back 200s linear infinite;
}

.clouds{
	z-index: 3;
    background:transparent url('https://image.ibb.co/bT4N7T/clouds.png') repeat top center;
	animation: move-clouds-back 200s linear infinite;
}

@keyframes move-twink-back {
	from {background-position:0 0;}
	to {background-position:-10000px 5000px;}
}


@keyframes move-clouds-back {
	from {background-position:0 0;}
	to {background-position:10000px 0;}
}

.div-canvas{
    display: table-cell;
    vertical-align: middle;
}
#canvasOne{
    position: absolute;
    padding-bottom: 0;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    display: block;
}

.boton{
    background:rgba(255, 172, 18,0.3);
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin-top:15px;
    align-items: center;
    border-radius: 15px;
    /*box-shadow:0 1px 2px rgba(240, 232, 232, 0.63);*/
    width: 200px;
    height: 40px;
}


.boton:hover{
    background:rgb(255, 177, 32);
}

.input{
    width: 192px;
    height: 34px;
    border-radius: 15px;
    margin-top: 15px;
    background: rgb(255, 177, 32,0.4);
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    align-items: center;
}
::placeholder{
    color: white;
}

.input:hover{
    width: 192px;
    height: 34px;
    border-radius: 15px;
    margin-top: 15px;
    background:rgb(255, 177, 32);
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    align-items: center;
}

.footer{
    background-color:transparent;
    text-align: center;
    z-index: 4;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    color: white;
    font-family: 'Mulish', sans-serif;
    margin-bottom: 80px;
}

#slider{
    -webkit-appearance: none;
    width:70%;
    padding-right: 5px;
    height: 7px;
    outline: none;
    border-radius: 3px;

}
