.body{
    /*background-color: aqua;*/
    margin: 0;
    padding: 0;
}

.table{
    position:fixed;
    background-color:transparent;
    font-family: 'Mulish', sans-serif;
    font-weight: bold;
    font-size: 25px;
    line-height: 1.5em;
    z-index: 6;
    margin-top: 1%;
    margin-left: 75%;
    width: 100px;
}

.header{
    position:fixed;
    background-color:transparent;
    font-family: 'Mulish', sans-serif;
    font-weight: bold;
    font-size: 25px;
    line-height: 1.5em;
    z-index: 4;
    margin-top: 1%;
    margin-left: 1%;
}

.name{
    background-color: transparent;
    text-decoration: none;
    color: white;
}

.label{
    color: white;
    font-family: 'Mulish', sans-serif;
    font-weight: bold;
    padding-left: 40%;
}


.navigation ul{
    background-color: transparent;
    list-style: none;
    font-weight: bold;
    width:150px ;
    padding-left: 20px;
    margin-top: 40%;
    
}

/*.navigation ul li:hover{
    text-decoration: none;
    background-color: blueviolet;
    color: black;
    border: 2px solid white;
    border-radius: 10px;
}*/

@import "susy";
@import "compass/reset";

.stars, .twinkling, .clouds {
	position:absolute;
	display:block;
    margin-top: 0;
	top:0; bottom:0;
	left:0; right:0;
	width:100%; height:100%;
}

.stars {
	z-index: 0;
	background: #000 url('https://image.ibb.co/mjnygo/stars.png') repeat top center;
}
div .stars {
    z-index: 2;
	
}

.twinkling{
	z-index: 0;
	background:transparent url('https://image.ibb.co/ir1DE8/twinkling.png') repeat top center;
	animation: move-twink-back 200s linear infinite;
}
/*
.clouds{
	z-index: 3;
    background:transparent url('https://image.ibb.co/bT4N7T/clouds.png') repeat top center;
	animation: move-clouds-back 200s linear infinite;
}
*/
@keyframes move-twink-back {
	from {background-position:0 0;}
	to {background-position:-10000px 5000px;}
}

@keyframes move-clouds-back {
	from {background-position:0 0;}
	to {background-position:10000px 0;}
}

.div-canvas{
    display: table-cell;
    vertical-align: middle;
}
#canvasOne{
    position: absolute;
    padding-bottom: 0;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    display: block;
}


.boton{
    background:rgba(255, 172, 18,0.3);
    font-size: 25px;
    /*font-family: 'Montserrat', sans-serif;
    font-weight: bold;*/
    font-family: 'Courier Prime', monospace;
    font-weight:lighter;
    margin-top:15px;
    align-items: center;
    border-radius: 20px;
    /*box-shadow:0 1px 2px rgba(240, 232, 232, 0.63);*/
    width: 200px;
    height: 40px;
}

.boton2{
    background:rgba(255, 172, 18,0.3);
    font-size: 25px;
    /*font-family: 'Montserrat', sans-serif;
    font-weight: bold;*/
    font-family: 'Courier Prime', monospace;
    font-weight:lighter;
    margin-top:15px;
    align-items: center;
    border-radius: 20px;
    /*box-shadow:0 1px 2px rgba(240, 232, 232, 0.63);*/
    width: 200px;
    height: 40px;
    padding-left: 30px;
}

.boton3{
    background:rgba(255, 172, 18,0.3);
    font-size: 25px;
    /*font-family: 'Montserrat', sans-serif;
    font-weight: bold;*/
    font-family: 'Courier Prime', monospace;
    font-weight:lighter;
    margin-top:15px;
    border-radius: 20px;
    /*box-shadow:0 1px 2px rgba(240, 232, 232, 0.63);*/
    width: 200px;
    height: 40px;
    padding: 0px;
}


.boton:hover{
    background:rgb(255, 177, 32);
    /*transform: translate(-100%);
    transition: all 0.8s ease;*/
    transition: 0.3s;
}
.boton2:hover{
    background:rgb(255, 177, 32);
    /*transform: translate(-100%);
    transition: all 0.8s ease;*/
    transition: 0.3s;
}
.boton3:hover{
    background:rgb(255, 177, 32);
    /*transform: translate(-100%);
    transition: all 0.8s ease;*/
    transition: 0.3s;
}

.input{
    width: 122px;
    height: 34px;
    border-radius: 20px;
    margin-top: 15px;
    background: rgb(255, 177, 32,0.4);
    font-size: 25px;
    font-family: 'Courier Prime', monospace;
    font-weight:lighter;
    align-items: center;
    padding-left: 52px;
    padding-right: 20px ; 
}
::placeholder{
    color: black;
}

.input:hover{
    width: 122px;
    height: 34px;
    border-radius: 15px;
    margin-top: 15px;
    background:rgb(255, 177, 32);
    font-size: 25px;
    font-family: 'Courier Prime', monospace;
    font-weight:lighter;
    transition: 0.3s;
}

.footer{
    background-color:transparent;
    text-align: center;
    z-index: 4;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    color: white;
    font-family: 'Mulish', sans-serif;
    margin-bottom: 80px;
}


.tabla{
    background:rgba(241, 207, 16, 0.808);
    font-size: 25px;
    /*font-family: 'Montserrat', sans-serif;
    font-weight: bold;*/
    font-family: 'Courier Prime', monospace;
    font-weight:lighter;
    margin-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
    border-radius: 20px;
    /*box-shadow:0 1px 2px rgba(240, 232, 232, 0.63);*/
    width: 300px;
    height: 34px;
}

#slider{
    -webkit-appearance: none;
    width:70%;
    padding-right: 5px;
    height: 7px;
    outline: none;
    border-radius: 3px;

}

#slider::-webkit-slider-thumb{
    -webkit-appearance:button;
    width: 45px;
    height: 45px;
    cursor: pointer;
    z-index: 4;
    position: relative;
}

/*#selector{
    height: 104px;
    width: 45px;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 4;
}*/

.SelectBtn{
    height: 45px;
    width: 45px;
    background-image: url(./layers_logo/Logo_StellerBytes_SinLetras.png);
    background-size: cover;
    background-position:center ;
    border-radius:50% ;
    position: absolute;
    bottom: 0;
}

.iconDebris{
    border:px solid red;
    position:fixed;
    background-color:transparent;
    font-family: 'Mulish', sans-serif;
    font-weight: bold;
    font-size: 25px;
    line-height: 1.5em;
    z-index: 4;
    margin-top: 212px;
    margin-left: 40px;
}


.Debris{
    border:px solid red;
    position:fixed;
    background-color:transparent;
    font-family: 'Mulish', sans-serif;
    font-weight: bold;
    font-size: 25px;
    line-height: 1.5em;
    z-index: 4;
    margin-top: 175px;
    margin-left: 40px;
}

.Debris2{
    border:px solid red;
    position:fixed;
    background-color:transparent;
    font-family: 'Mulish', sans-serif;
    font-weight: bold;
    font-size: 25px;
    line-height: 1.5em;
    z-index: 4;
    margin-top: 215px;
    margin-left: 40px;
}

.iconSearch{
    border:px solid red;
    position:fixed;
    background-color:transparent;
    font-family: 'Mulish', sans-serif;
    font-weight: bold;
    font-size: 25px;
    line-height: 1.5em;
    z-index: 4;
    margin-top: 230px;
    margin-left: 40px;
}

.iconSatelite{
    border:px solid red;
    position:fixed;
    background-color:transparent;
    font-family: 'Mulish', sans-serif;
    font-weight: bold;
    font-size: 25px;
    line-height: 1.5em;
    z-index: 4;
    margin-top: 285px;
    margin-left: 40px;
}

/*.iconPosition{
    border:px solid red;
    position:fixed;
    background-color:transparent;
    font-family: 'Mulish', sans-serif;
    font-weight: bold;
    font-size: 25px;
    line-height: 1.5em;
    z-index: 4;
    margin-top: 340px;
    margin-left: 40px;
}*/

.iconInfo{
    position:fixed;
    background-color:transparent;
    font-family: 'Mulish', sans-serif;
    font-weight: bold;
    font-size: 25px;
    line-height: 1.5em;
    z-index: 4;
    margin-top: 338px;
    margin-left: 40px;
}
