<!DOCTYPE html>
<html>
<head>
	<title>Imagen</title>
</head>
<style type="text/css">
	table, th,td {
		border: 1px solid black;
		border-collapse: collapse;
		text-align: center;
		margin-left: 50px;
}

</style>
<body>
	<!-- <a href="https://es.wikipedia.org/wiki/Dado"><img src="fondos para celulares.JPG"></a> -->
	<table>
		<caption>Febrero 2020</caption>
		<tr>
			<th><strong>Curso</strong></th>
			<th><strong>Horas</strong></th>
			<th><strong>Horario</strong></th>
		</tr>
		<tr>
			<td><strong>Servidores web</strong></td>
			<td rowspan="2"><strong>20</strong></td>
			<td rowspan="2"><strong>8:00 - 9:00</strong></td>
		</tr>
		<tr>
			<td><strong>C#</strong></td>
		</tr>
		<tr>
			<td><strong>C</strong></td>
			<td><strong>30</strong></td>
			<td><strong>7:00 - 8:00</strong></td>
		</tr>
		<tr>
			<td colspan="2">Fin del curso</td>
			<td>19:00 - 20:00</td>
		</tr>
	</table>

</body>
</html>